<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <h3>Full Stack</h3>
      <ul>
        <li>
          {{#link-to 'portfolio.piece' 'worksite-webcams'}}
            Worksite WebCams
          {{/link-to}}
        </li>
      </ul>
      <h3>Front End</h3>
      <ul>
        <li>
          {{#link-to 'portfolio.piece' 'autocode-carqualifier'}}
            AutoCode & CarQualifier Single Page Applications
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'portfolio.piece' 'crc-press-enhancements'}}
            CRC Press E-Commerce Site Enhancements
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'portfolio.piece' 'crc-press-landing-pages'}}
            CRC Press Responsive Landing Page Generator
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'portfolio.piece' 'resource-center'}}
            CRCnetBASE Resource Center
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'portfolio.piece' 'conan'}}
            Conan - Conference Application
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'portfolio.piece' 'hrudaya'}}
            Hrudaya - Heal a Heart
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'portfolio.piece' 'exp'}}
            EXP
          {{/link-to}}
        </li>
        <li>
          {{#link-to 'portfolio.piece' 'geopeak-energy'}}
            GeoPeak Energy
          {{/link-to}}
        </li>
      </ul>

      <h3>Portfolio Sites</h3>
      <ul>
        <li>
            Coming soon -- Porftolio Site v3 using Ember + Firebase
        </li>
        <li>
          {{#link-to 'portfolio.piece' 'portfolio-v2'}}
            Portfolio Site v2 using Angular
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</div>